<table class="index sortable" id='listing_categories' data-hook data-sortable-link="<%= update_positions_admin_categories_url %>">
  <colgroup>
    <col style="width: 10%">
    <col style="width: 75%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr data-hook="categories_header">
      <th class="no-border"></th>
      <th><%= Spree::Taxonomy.human_attribute_name(:name) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr id="<%= spree_dom_id category %>" data-hook="categories_row" class="<%= cycle('odd', 'even')%>">
        <td class="no-border">
          <% if can?(:update_positions, Spree::Taxonomy) %>
            <span class="handle"></span>
          <% end %>
        </td>
        <td class="align-center"><%= category.name %></td>
        <td class="actions">
          <% if can?(:update, category) %>
            <%= link_to_edit category, :no_text => true %>
          <% end %>
          <% if can?(:destroy, category) %>
            <%= link_to_delete category, :no_text => true %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
